/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* .code-link-embed-preview-code {
} */

.code-link-embed-preview-text {
	font-size: 0.8em;
	color: gray;
}

.code-link-embed-preview-tag {
	font-style: italic;
	font-weight: bold;
}

.code-link-hover-preview-popover > pre {
	max-height: 50vh;
	margin: 0;
	overflow: auto;
}

.code-link-settings-prompt {
	margin: 0;
}

.code-link-settings-prompt[status="success"] {
	color: green;
}

.code-link-settings-prompt[status="warning"] {
	color: red;
}
